

*{
    box-sizing: border-box;
}

/*================top menu ============*/

.navbar{
  
  
    width: 100%;
    height: 80px;
  
   
}


.logo{
    width: 150px;
    height: 50px;
}
.logonav{
    width: 50%;
    margin: 20px auto;
    text-align: center;
    display: flex;
    
   
}

.hh1{
    display: inline;
    margin: -10px 20px;
}



  



.container{
    width: 90%;
    margin: 0 auto;
    text-align: center;
   
   
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    margin: 20px;
    border-radius: 20px;
    display: inline-block;
    text-align: center;
  }
  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }