 
 .container{
     width: 90%;
     margin: 0 auto;
 }
    table {
        width: 100%;	
        border-collapse: collapse;
        
      }
    
      th, td {
        
        padding-left: 10px;
        text-align: left;
        border: 0px solid #274F9E;
        
      }
      
      th {
        padding: 10px;  
        text-align: left;
        background-color: orangered;
        color: white;
      }
      
   
      tr:hover {background-color: #f5f5f5;}
      
      tr:nth-child(even) {background-color: #f2f2f2;}
  
  
  
      table a{
        text-decoration: none;
      
      }
    
      table .edit{
        display: block;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 10px;
        padding: 3px;
        width: 70px;
        color: white;
        border: 1px solid green;
        background-color: green;
      }
    
      table .edit:hover{
        color: green;
        background-color: white;
      }
  
     
  
      table .delete{
        text-align: center;
        margin-bottom: 10px;
        padding: 3px;
        width: 70px;
        color: white;
        border: 1px solid red;
        background-color: red;
      }
    
      table .delete:hover{
        color:  red;
        background-color: white;
      }
  